management:
  endpoints:
    web:
      exposure:
        include: health, prometheus, metrics
  metrics:
    tags:
      application: pedido-service
    distribution:
      percentiles-histogram:
        http.server.requests: true
logging:
  level:
    root: INFO
    org.springframework.web: INFO
